<?xml version="1.0"?>
<launch>
	<arg name="domain_path"	default="$(find hiprl_replicate)/pddl/hiprl_mini.pddl" />

	<!-- planner interface -->
	<include file="$(find rosplan_planning_system)/launch/includes/planner_interface.launch">
		<arg name="use_problem_topic"    value="true" />
		<arg name="problem_topic"        value="/rosplan_problem_interface/problem_instance" />
		<arg name="planner_topic"        value="planner_output" />
		<arg name="domain_path"          value="$(arg domain_path)" />
		<arg name="problem_path"         value="$(find hiprl_replicate)/pddl/problem.pddl" />
		<arg name="data_path"            value="$(find hiprl_replicate)/pddl/" />
		<arg name="planner_interface"	 value="popf_planner_interface"/>
		<arg name="planner_command"		 value="$(find rosplan_planning_system)/common/bin/popf2 DOMAIN PROBLEM $(find hiprl_replicate)/pddl/plan0.pddl"/>
	</include>
	
	<node name="rosplan_parsing_interface" pkg="rosplan_planning_system" type="pddl_simple_plan_parser" respawn="false" output="screen">
		<param name="knowledge_base" value="rosplan_knowledge_base" />
		<param name="planner_topic"  value="/rosplan_planner_interface/planner_output" />
		<param name="plan_topic"     value="complete_plan" />
	</node>
	

	
	<node name="hiprl_action_interface_move_robot" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="pddl_action_name" 		value="move-robot"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>
	</node>

	<node name="hiprl_action_interface_openobject" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="pddl_action_name" 		value="openobject"/>
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>	
	</node>

	<node name="hiprl_action_interface_closeobject" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="pddl_action_name" 		value="closeobject"/>
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>	
	</node>

	<node name="hiprl_action_interface_pickupobjectinreceptacle" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="pddl_action_name" 		value="pickupobjectinreceptacle"/>
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>	
	</node>

	<node name="hiprl_action_interface_putobjectinreceptacle" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="pddl_action_name" 		value="putobjectinreceptacle"/>
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>	
	</node>

	<node name="hiprl_action_interface_pickupobject" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="pddl_action_name" 		value="pickupobject"/>
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>	
	</node>

	<node name="hiprl_action_interface_putobject" pkg="hiprl_replicate" type="hiprl_action_interface_node" respawn="false" output="screen">
		<param name="pddl_action_name" 		value="putobject"/>
		<param name="knowledge_base"		value="rosplan_knowledge_base"/>
		<param name="action_dispatch_topic" value="/rosplan_plan_dispatcher/action_dispatch"/>
		<param name="action_feedback_topic"	value="/rosplan_plan_dispatcher/action_feedback"/>	
	</node>


</launch>

	<!-- plan dispatching -->
<!-- 	<node name="rosplan_plan_dispatcher" pkg="rosplan_planning_system" type="pddl_simple_plan_dispatcher" respawn="false" output="screen"> -->
<!--		<param name="knowledge_base"        value="rosplan_knowledge_base" />-->
<!--		<param name="plan_topic"            value="/rosplan_parsing_interface/complete_plan" />-->
<!--		<param name="action_dispatch_topic" value="action_dispatch" />-->
<!--		<param name="action_feedback_topic" value="action_feedback" />-->
<!--	</node> -->
<!-- 		<arg name="planner_command"		 value="$(find rosplan_planning_system)/common/bin/Metric-FF -o $(arg domain_path) -f $(find hiprl_replicate)/pddl/problem.pddl -s 1"/>		 -->
<!-- 		<arg name="planner_command"		 value="$(find rosplan_planning_system)/common/bin/optic-clp $(arg domain_path) $(find hiprl_replicate)/pddl/problem.pddl"/>  -->
<!--  		<arg name="planner_command"      value="$(find rosplan_planning_system)/common/bin/popf2 DOMAIN PROBLEM $(find hiprl_replicate)/pddl/plan0.pddl" />	
 -->